<nav class="top_header top_header_wide mt-3 mt-lg-0">
 	
	<div class="container">

	<div class="row nav_white nav_white_wide nav_white_wide">

	<!-- Logo -->
	<div class="col-lg-4 col-6  d-flex align-content-center">
		<a class="logo_box align-self-center" href="index.html">
			<img class="align-self-center logo-white" src="img/logo.png" alt="logo">
			<!-- <img class="align-self-center logo-black" src="img/logo.png" alt="logo"> -->
		</a>
	</div>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/products" class="pa3 no-underline db">Products</a></li>

		<li><a href="/values" class="pa3 no-underline db">Values</a></li>

		<li><a href="/post" class="pa3 no-underline db">Blog</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>
	</ul>
</div>
</div>
</nav>

<div class="cloned">
	<div class="container cloned_nav"></div>
</div>
