<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}
  <body style="line-height: 1.7;
  font-size: 16px;
  font-family: 'Archivo', sans-serif;
  color: #666;
  font-weight: 400;
  color: #666;" >

    {{ block "header" . }}{{ partial "nav" . }}{{end}}

    {{ block "main" . }}{{ end }}

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}

    {{ $script := .Site.Data.webpack.main }}
    {{ with $script.js }}
      <script src="{{ relURL . }}"></script>
 
    {{ end }}
  </body>
</html>
