{{ define "main" }}
{{$en := index .AllTranslations 0}}
{{$ar := index .AllTranslations 0}}


<section id="hero" class="contact-top">
	<div class="container contact_inner">
		<div class="row">
			<div class="col-lg-6 offset-lg-3 text-center">


				<p data-cue="slideInUp">{{.Params.smalltitle}}</p>
				<h1 class="hero_title" data-cue="slideInUp" data-delay="400">
					{{.Params.title}}				</h1>
			</div>
			<!-- /.col-lg-6 offset-3 -->
		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->
	<div class="mask mask_dark"></div>
</section>
<!-- /#hero.contact-top -->




<section class="pb-100  bg-blob-white contact-with-form">
	<div class="container contact_top_img left_img">
		<img class="position-relative zindex-2" src="{{ $en.Params.logo }}" alt="" data-cue="slideInUp" data-delay="600">
		<div class="bg_dotted_img d-none d-lg-block"></div>
	</div>
	<!-- contact_top_img -->

	<div class="contact_bottom"  data-cue="slideInUp" >
		<div class="stat_section stat_type2 text-center">
			<div class="row" data-cues="slideInUp">
				<div class="col-lg-3 col-md-6 counter_content mb-30 m-lg-0">
					<div class="stat_top">
						<i class="fab fa-accessible-icon"></i>

						<span  class="counter" >{{ $en.Params.memberscount }}</span>
					</div>
					<!-- /.stat_top -->
					<p>{{i18n "Members"}}</p>
				</div>
				<div class="col-lg-3 col-md-6  counter_content mb-30 m-lg-0">
					<div class="stat_top">
						<i class="fas fa-crown"></i>
						<span  class="counter" >{{ $en.Params.trackcount }}</span>
					</div>
	
					<!-- /.stat_top -->
					<p>{{i18n "Track"}}</p>
				</div>
				<div class="col-lg-3 col-md-6 counter_content mb-30 m-md-0">
					<div class="stat_top">
						<i class="fas fa-biking"></i>
						<span  class="counter" >{{ $en.Params.routcount }}</span>
					</div>
					<!-- /.stat_top -->
					<p>{{i18n "Route"}}</p>
				</div>
				<div class="col-lg-3 col-md-6 counter_content mb-30 m-md-0">
					<div class="stat_top">
						<i class="fas fa-cookie-bite"></i>
						<span  class="counter" >{{ $en.Params.eventcount }}</span>
					</div>
					<!-- /.stat_top -->
					<p>{{i18n "Events"}}</p>
				</div>
			</div>
			<!-- /.col-md-4 -->
		</div>
		<!-- /.stat_content text-center -->
	</div>
	<!-- contact_bottom -->

	<div class="container pt-100">
		<div class="row">
		   
			<!-- col-lg-3 -->

			<div class="col-lg-3 col-md-6">
				<ul class="single_event_list gray-bg list-unstyled mb-lg-0 mb-30">
					<li><i class="ph-buildings-bold"></i> {{ .Params.city }}</li>
					<li><i class="ph-map-pin-bold"></i> {{ .Params.street }}</li>
					<li><i class="ph-clock-afternoon-bold"></i> {{ .Params.hours }}</li>
					<li><i class="ph-envelope-bold"></i> {{ $en.Params.email }}</li>
				</ul>
			</div>
			<!-- col-lg-3 -->

			<div class="col-lg-6">
<section id="register">
				<form action="https://getform.io/f/17888f56-461c-4640-a478-e0dff07a2fcb" method="POST" 

					class="contact-form">
				  
					<input class="form-control" type="text" name="name" placeholder="{{i18n "YourName"}}">
				
					<input class="form-control" type="email" name="email" placeholder="{{i18n "YourEmail"}}">

					<input class="form-control" type="tel" name="phone" placeholder="{{i18n "YourPhone"}}">
					  
					<textarea class="form-control" rows="4" placeholder="{{i18n "YourMessage"}}" name="message"></textarea>
					<input type="hidden" name="_gotcha" style="display:none !important">

					<div class="button-area">
					  <button  class="btn rdn_btn rdn_btn_dark"  type="submit">{{i18n "SendMessage"}}</button>
					  <span class="contact_out_text"></span>
					</div>
				  </form>
				</section>
			</div>
			<!-- col-lg-6 -->

		</div>
		<!-- row -->
		
	</div>
	<!-- container -->
</section>
<!-- contact-with-form -->

<section class="map_bottom">
	<div class="google_map">
		<iframe src="{{ $en.Params.location }}" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
	<!-- google_map -->
</section>
<style>
 

.counter-box {
	display: block;
	background: #f6f6f6;
	padding: 40px 20px 37px;
	text-align: center
}

.counter-box p {
	margin: 5px 0 0;
	padding: 0;
	color: #909090;
	font-size: 18px;
	font-weight: 500
}

.counter-box i {
	font-size: 60px;
	margin: 0 0 15px;
	color: #d2d2d2
}

.counter { 
	color: #fff;
  font-size: 40px;
  font-weight: 700;
    font-family: "Lexend", sans-serif;
}

.counter-box.colored {
      background: #3acf87;
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
	color: #fff
}
</style>

<!-----------------------------------TODO -->
<!-- <div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="{{ .Params.logo }}" alt="" class="db w4 center pv4">

		{{ .Content }}

		<div class="flex-ns mb3">
	        	{{ range .Params.contact_entries }}
				<div>
					<h4 class="f4 b lh-title mb2 primary">{{ .heading }}</h4>
					<p>{{ .text }}</p>
				</div>
			{{ end }}
		</div>

		{{ partial "contact-form" . }}

	</div>
</div> -->
 <!-- JAVASCRIPT -->
 <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
 <script src="https://unpkg.com/swiper@8.4.4/swiper-bundle.min.js"></script>
 <script src="https://unpkg.com/isotope-layout@3.0.6/dist/isotope.pkgd.min.js"></script>
 <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
 <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/scrollcue@2.0.0/scrollCue.min.js"></script>
 <!-- <script src="js/slideanimation.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.3/vanilla-tilt.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/2.19.0/core.min.js"></script>
 <script>(function () {
 "use strict";

 /* script scrollcue  */

       




 /* scroll to top script */
 const scrollToTopBtn = document.querySelector(".scrollToTopBtn");

 if (scrollToTopBtn) {
	 scrollToTopBtn.addEventListener("click", scrollToTop);
 }

 function scrollToTop() {
	 window.scrollTo({
		 top: 0,
		 behavior: "smooth"
	 });
 }

 //scroll to top appear
 // When the user scrolls down 200px from the top of the document, show the button
 function scrollFunction() {
	 if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
		 scrollToTopBtn.style.opacity = "1";
	 } else {
		 scrollToTopBtn.style.opacity = "0";
	 }
 }
  
 /* change value for progress bar to style width*/
 if (document.querySelector('.progress_box')) {
	 const progressBar = document.querySelector('.progress_box').querySelectorAll('.progress-bar');

	 for (i = 0; i < progressBar.length; i++) {
		 /*  width based on aria-valuenow */
		 const barWidth = progressBar[i].getAttribute('aria-valuenow');
		 progressBar[i].style.width = barWidth + "%";
	 }
 }


 /* tilting effect script  */
 VanillaTilt.init(document.querySelector(".rdn_tilt"), {
	 max: 15,
	 speed: 600,
	 easing: "cubic-bezier(.03,.98,.52,.99)", // Easing on enter/exit.
	 glare: false,
 });


 /* typing text effect script on home 4
 The value/words is based on data-words inside the typing-words class*/
 const typing = document.querySelector('.typing-one');
 if (typing) {
	 const typingWords = document.querySelector('.typing-words').getAttribute('data-words');
	 const Wordlist = typingWords.split('|');
	 //settings for typewriter
	 const typewriter = new Typewriter(typing, {
		 loop: true,
		 delay: 75,
	 });
	 //insert the words value into loop and start the typewriter
	 for (let index = 0; index < Wordlist.length; index++) {
		 const words = Wordlist[index];
		 typewriter.typeString(words)
			 .pauseFor(2500)
			 .deleteAll()
	 }
	 typewriter.start();
 }

})();





</script>
{{ end }}
